body {
  border: 20px rgb(23, 114, 167) solid;
  height: 93vh;
}

.p-response {
  text-shadow: 2px 2px 2px white;
  width: 50vw;
}

.red {
  color: red;
  text-shadow: 2px 2px 2px gray;
}

.response {
  width: 100vw;
}

.image-response {
  height: 30vh;
  width: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div, form {
  display: flex;
}

.question {
  font-size: .9em;
}

.begin-button-js {
  margin-top: 18vh;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.begin-button-js:focus {
  background-color: lightblue;
}

.begin-button-js:active {
  background-color: lightblue;
  text-shadow: 2px 2px 1px white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: .6em;
  text-align: center;
}

.title>p {
  color: rgb(23, 114, 167)
}

.white {
  background-color: white;
  border-radius: 10px;
}

.progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progressBar {
  font-size: .8em;
}

.startover {
  height: 10vh;
  padding-top: 10vh;
}

.mainFinal {
  margin-top: 10vh;
  justify-content: space-around;
}

.startoverButton {
  height: 100%;
  background-color: white;
  border-radius: 10px;
  shadow: 2px 2px 2px black;
  color: blue;
  font-size: 24px;
}

button.submit {
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  align-self: center;
}

.nextContainer {
  height: 30px;
  padding-top: 5vh;
}

.nextButton {
  color: rgb(23, 114, 167);
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.the-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 55vh;
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

body {
  margin: 0
}

.enter {
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  border-radius: 10px;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 50vh;
}

.question {
  text-align: center;
  border-radius: 10%;
  color: rgb(23, 114, 167);
}

.answer-select {
  font-size: 120%;
}

input:checked {
  border: 8px solid yellow;
}

.answerChoice {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(23, 114, 167);
  text-shadow: 1px 1px lightgray;
  font-weight: bold;
}

.bottom {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 10px;
}

.answerChoice:hover {
  background-image: url(https://static.evo.com/assetimages/features/k2-snowboard/2016/k2-wh4-core.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  flex-direction: column;
}

header>img {
  width: 40%;
}

.title>p {
  display: none;
}

.answer-select {
  font-size: 1.3em;
}

header {
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  .progressBar {
    font-size: 1.2em;
  }

  button.submit {
    font-size: 40px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(23, 114, 167);
    align-self: center;
  }

  body {
    justify-content: space-around;
    border: 40px rgb(23, 114, 167) solid;
    height: 95vh;
  }

  .white.question, .answerText {
    font-size: 1.3em;
  }

  /* tablet */
  /* background color set only for responsive dev awareness */
}

@media screen and (min-width: 769px) {
  body {
    justify-content: space-around;
  }

  header>img {
    width: 30%;
  }

  .white.question, .answerText, .p-response {
    font-size: 1.6em;
  }

  /* computer */
  /* background color set only for responsive dev awareness */
}