header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.startover {
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  display: none;
  padding: 15%%;
}

.startoverButton {
  height: 40px;
  background-color: white;
  border-radius: 10px;
  shadow: 2px 2px 2px black;
  color: blue;
  font-size: 24px;
}

button.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  width: auto;
  height: auto;
  font-size: 40px;
}

header>img {
  width: 20%;
  height: auto;
  border-radius: 10px;
}

.title {
  text-align: center;
  padding: 5px;
}

.title>p {
  color: rgb(23, 114, 167)
}

.white {
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

body {
  z-index: 2;
}

.enter {
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.question {
  text-align: center;
  border: 3px dotted red;
  border-radius: 10%;
  color: rgb(23, 114, 167);
  padding: 5px;
}

.answer-select {
  font-size: 120%;
}

input:checked {
  border: 8px solid yellow;
}

.answerChoice {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: rgb(23, 114, 167);
  text-shadow: 1px 1px lightgray;
  font-weight: bold;
}

.bottom {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 10px;
}

.answerChoice:hover {
  background-image: url(https://static.evo.com/assetimages/features/k2-snowboard/2016/k2-wh4-core.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 320px) {

  /* mobile-ready */
  .question {
    font-size: 100%;
  }

  .answer-select {
    font-size: 90%;
  }

  /* background color set only for responsive dev awareness */
  header {
    flex-direction: column;
  }

  header>img {
    width: 40%;
  }

  .title>p {
    display: none;
  }
}

@media screen and (min-width: 400px) {

  /* tablet */
  /* background color set only for responsive dev awareness */
  .main {
    width: 60%;
  }

  .answer-select {
    height: 50px;
  }

  .answer-select {
    font-size: 170%;
  }
}

@media screen and (min-width: 769px) {

  /* computer */
  /* background color set only for responsive dev awareness */
  header>img {
    width: 10%;
  }

  .main {
    margin-top: 1%;
  }

  .main {
    width: 75%;
  }

  .white, .question {
    font-size: 40px;
  }

  .answerText {
    font-size: 30px;
  }

  .answer-select {
    height: 200px;
  }
}